<section id="slideshow">
	<div class="inner">
	<a href="{{ "" | absolute_url }}"><img src="{{ "" | absolute_url }}assets/images/{{ site.logo }}" alt="Great-Q Seed" class="logo" /></a>
	<h2>{{ site.company }}</h2>
	<p>
	Produsen dan penyedia benih padi berkualitas tinggi, <br />terjaga kemurnian dan viabilitasnya. <br />Kami juga menyediakan benih-benih bersertifikat <br />yang sudah popular maupun benih-benih spesifik lokasi <br />untuk mendukung lumbung padi nasional di Indonesia.
	</p>
	<a href="#one" class="more scrolly">Learn More</a>
	</div>
</section>