<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Kontak Informasi</h2>
			<p>Informasi dan pemesanan dapat menghubungi kami.</p>
			<ul>
				<li>Jl. Wiryo Dihardjo 13 Purwokerto - Jawa Tengah</li>
				<li>Tel./WA. 0822 2017 5779</li>
				<li>Email. hello@greatquality.id</li>
			</ul>
						
		</header>

		<!--ul class="actions vertical">
			<li><a href="#" class="button fit special">Activate</a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
		</ul -->
	</div>
</section>
