<!-- Footer -->
<footer id="footer">
	<!--script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script -->
<!-- Qseed -->
<!--ins class="adsbygoogle"
     style="display:block; text-align: center;"
     data-ad-client="ca-pub-5004032306993247"
     data-ad-slot="9860227012"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script -->
	<ul class="icons">
		{% if site.twitter_url %}
		<li><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
		{% endif %} {% if site.googleplus_url %}
		<li><a href="{{ site.googleplus_url }}" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
		{% endif %} {% if site.facebook_url %}
		<li><a href="{{ site.facebook_url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
		{% endif %} {% if site.instagram_url %}
		<li><a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
		{% endif %} {% if site.pinterest_url %}
		<li><a href="{{ site.pinterest_url }}" class="icon fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
		{% endif %} {% if site.500px_url %}
		<li><a href="{{ site.500px_url }}" class="icon fa-500px" target="_blank"><span class="label">500px</span></a></li>
		{% endif %} {% if site.gitlab_url %}
		<li><a href="{{ site.gitlab_url }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
		{% endif %} {% if site.github_url %}
		<li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
		{% endif %} {% if site.slack_url %}
		<li><a href="{{ site.slack_url }}" class="icon fa-slack" target="_blank"><span class="label">Slack</span></a></li>
		{% endif %} {% if site.linkedin_url %}
		<li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
		{% endif %}
	</ul>
	<ul class="copyright">
		<li>&copy; 2016 - 2025 {{ site.title }}</li>
		<li>All Rights Reserved.</li>
	</ul>
</footer>

</div>

<!-- Scripts -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.fitvids.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/fluidvids.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.magnific-popup.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>


{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %} 

{% if page.comments %}
{% include disqus_comments.html %}
{% endif %}

<!-- BEGIN JIVOSITE CODE {literal} -->
<!--script type='text/javascript'>
(function(){ var widget_id = 'xAFNmcmWf5';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script-->
<!-- {/literal} END JIVOSITE CODE -->


<!--script type="text/javascript">
var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
{widgetcode:"e2bbc0fc9533b5f110402d37857b2605df02e6b99ba7b66e185c1685f7f9843b", values:{},ready:function(){}};
var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
</script -->

</body>

</html>
