<!-- One -->
<section id="one" class="wrapper style1 special-1">
	<div class="inner">
		<header class="major text-center">
		<img src="{{ "" | absolute_url }}/assets/images/benih_protani.png" class="product" alt="Inpago Unsoed 1" />
			<h2>Padi Varietas Inpago Unsoed Protani</h2>
			<p>Produksi tinggi, rendemen tinggi, responsif budi daya organik, rasa enak, kandungan protein tinggi. <br />Jagoan di lahan kering dan unggul di lahan sawah.</p>
		</header>
	<div class="row">
		<div class="half">	
			<h3>Keunggulan</h3>
			<ol>
				<li>Potensi hasil 10ton/ha di sawah dan 7,2ton/ha di lahan kering</li>
				<li>Umur genjah 100 HST</li>
				<li>Tekstur nasi pulen (kandungan amilosa 18%)</li>
				<li>Tahan penyakit blast ras 101, agak tahan ras 041, 023, 073</li>
				<li>Tahan kekeringan</li>
				<li>Kandungan protein tinggi</li>
				<li>Kandungan zinc tinggi</li>				
				<li>Responsif budi daya organik</li>
			</ol>
		</div>
		<div class="half">
			<h3>Mengapa Disukai Petani?</h3>
			<ol>
				<li>Memiliki daya hasil tinggi di lahan kering, dapat ditanam di lahan sawah dan rendemen tinggi.</li>
				<li>Harga beras Inpago Unsoed Protani lebih mahal dibanding varietas lain di pasaran.</li>
				<li>Penetrasi pasar lebih luas, masyarakat dan produsen beras mudah menerima karena nasi enak, pulen dan wangi, sehingga permintaan pasar tinggi.</li>
				<li>Dapat diproduksi sepanjang tahun di lahan sawah maupun lahan kering (tadah hujan).</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="half">
			<h3>Rekomendasi Budi Daya</h3>
			<ol>
				<li>Dibudidayakan dengan sistem organik.</li>
				<li>Jika masih menggunakan pupuk kimia sintetis dianjurkan disemprotkan dengan dosis maksimal 100gr/14lt air (Inpago Unsoed Protani sangat responsif terhadap pupuk Nitrogen).</li>
				<li>Jarak tanam min 25 x 25cm, lebih disarankan jajar legowo 2:1 atau 3:1.</li>
				<li>Sistem pengendalian OPT dengan agen hayati atau pestisida nabati.</li>
			</ol>
		</div>
		<div class="half">
			<h3>Data Produksi di berbagai lokasi</h3>
			<ol>
				<li>Banyumas 8t/ha (sawah)</li>
				<li>Purbalingga 9t/ha (sawah), 6,4t/ha (kering)</li>
				<li>Cilacap 10,5t/ha (sawah organik), 6t/ha (kering)</li> 
				<li>Purworejo 13,3t/ha (sawah organik)</li> 
				<li>Merauke 10.5t/ha (sawah organik)</li> 
				<li>Sukabumi 8,6t/ha (sawah)</li>
				<li>Yogjakarta 9,1t/ha (sawah)</li>
				<li>Pulau Bulan, Batam 7,27 (kering)</li>		
			</ol>
		</div>		
	</div>
		<!--ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-universal-access major style3"><span class="label">Dolor</span></span>
			</li>
		</ul -->
	</div>
</section>
