<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Sebaran Padi Inpago Unsoed 1</h2>
			<p>Padi Inpago Unsoed 1 telah ditanam dan tersebar di 22 provinsi di Indonesia dengan berbagai kondisi. Padi ini menjadi pilihan untuk tambah luas tanam padi dan cetak sawah baru di Pulau Sumatra, Kalimantan dan Indonesa Timur.</p>
		</header>

		<img src="{{ "" | absolute_url }}/assets/images/peta_unsoed_1.png" class="peta img-responsive" alt="Peta Unsoed 1" />
		<!--ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Arcu accumsan</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Ac Augue Eget</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-code">
				<h3>Mus Scelerisque</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Mauris Imperdiet</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Aenean Primis</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Tortor Ut</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
		</ul -->
	</div>
</section>
