<!-- One -->
<section id="one" class="wrapper style1 special-1">
	<div class="inner">
		<header class="major text-center">
		<img src="{{ "" | absolute_url }}/assets/images/inpago_unsoed_1.png" class="product" alt="Inpago Unsoed 1" />
			<h2>Padi Varietas Inpago Unsoed 1</h2>
			<p>Produksi tinggi, rendemen tinggi, responsif budi daya organik, rasa enak, pulen dan wangi. <br />Jagoan di lahan kering dan unggul di lahan sawah.</p>
		</header>
	<div class="row">
	<div class="col-md-6">	
		<h3>Keunggulan</h3>
	<ol>
		<li>Potensi hasil 10ton/ha di sawah dan 7,2ton/ha di lahan kering</li>
		<li>Umur genjah 90 HST</li>
		<li>Tekstur nasi pulen (kandungan amilosa 18%) dan wangi</li>
		<li>Tahan penyakit blast ras 133</li>
		<li>Relatif tahan wereng batang coklat biotipe 1</li>
		<li>Tahan kekeringan</li>
		<li>Tahan keracunan Fe (ferum)</li>
		<li>Responsif budi daya organik</li>
	</ol>
	</div>
	<div class="col-md-6">
	<h3>Data Produksi di berbagai lokasi</h3>
<ol>
<li>Banyumas 8t/ha (sawah)</li>
<li>Purbalingga 9t/ha (sawah), 6,4t/ha (kering)</li>
<li>Cilacap 10,5t/ha (sawah organik), 6t/ha (kering)</li> 
<li>Purworejo 13,3t/ha (sawah organik)</li> 
<li>Merauke 10.5t/ha (sawah organik)</li> 
<li>Sukabumi 8,6t/ha (sawah)</li>
<li>Yogjakarta 9,1t/ha (sawah)</li>
<li>Pulau Bulan, Batam 7,27 (kering)</li>		
</ol>
	</div>
	</div>
		<!--ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-universal-access major style3"><span class="label">Dolor</span></span>
			</li>
		</ul -->
	</div>
</section>
