---
layout: default
---

<div class="home">

  <!--h1 class="page-heading">Posts</h1 -->
  

  {{ content }}


  <div class="row">

  <div class="col-1">
  <h1>Keunggulan</h1>
  </div>

  <div class="col-2">
   <h1>Rekomendasi</h1> 
  </div>

  <div class="col-3">
  <h1>Sebaran Benih</h1>
  </div>

  </div>
  <!--ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
